{% extends 'admin_base.html.twig' %}

{% block title %}Manual Import Clients{% endblock %}

{% block body %}

    {# Page Header #}
    <div class="dt-page__header">
        <h1 class="dt-page__title">Manual Import Clients</h1>
    </div>
    {# /Page Header #}

    {# Card #}
    <div class="dt-card">
        {# Card Body #}
        <div class="dt-card__body">

            {# Form #}

            {# /Form #}

        </div>
        {# /Card Body #}
    </div>
    {# /Card #}

{% endblock %}

