{% extends 'admin_base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="dt-page__header">
        <h1 class="dt-page__title">Admin Dashboard</h1>
    </div>
    {# /Page Header #}
    {# Card #}
    <div class="dt-card">
        {# Card Body #}
        <div class="dt-card__body">
            TODO...
        </div>
        {# /Card Body #}
    </div>
    {# /Card #}
{% endblock %}
