<div class="nav-item">
    <a href="#"><i class="ik ik-menu"></i><span>Admin Users</span></a>
</div>
<div class="nav-item">
    <a href="#"><i class="ik ik-menu"></i><span>BA Users</span></a>
</div>
<div class="nav-lavel">BA OnBoard Pages</div>
