<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="{{ path('app_dashboard') }}">
            <div class="logo-img">
                <img src="{{ asset('build/images/yl_36x36.a46e64e2.png') }}" class="header-brand-img" alt="Your Lawyers Ltd">
            </div>
            <span class="text"> Your Lawyers</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>

    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Welcome {{ app.user.firstName }}</div>

            </nav>
        </div>
    </div>

</div>