@import "~bootstrap";
@import "~font-awesome";
@import "~typeface-numans";

.display_none {display: none;}
.block_body {
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
input[type="checkbox"]:hover {cursor: pointer;}
