{% extends 'base.html.twig' %}

{% block title %}{{ header_text }} - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}
    {{ include('blocks/title_breadcrumb.html.twig') }}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for message in app.session.flashBag.get('page_success') %}
        <script>
            jQuery(document).ready(function(){
                const toast = swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                toast({
                    type: 'success',
                    title: 'Contact Details stage complete!',
                })
            });
        </script>
    {% endfor %}
{% endblock %}

