{% extends 'base.html.twig' %}

{% block title %}{{ header_text }}{% endblock %}

{% block body %}

    {# Grid #}
    <div class="col-12">
        {# Page Header #}
        <div class="dt-page__header">
            <h1 class="dt-page__title">{{ header_text }}</h1>
            <span>The British Airways OnBoarding App.</span>
        </div>
        {# /Page Header #}
    </div>
    {# /Grid #}

    {# Grid #}
    <div class="col-12">
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100">Step 10 of 10
            </div>
        </div>
    </div>
    {# /Grid #}

    {# Grid #}
    <div class="col-12">
        {# Card #}
        <div class="dt-card">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <p>Thank-you for completing our BA OnBoarding process!</p>
                </div>
            </div>
        </div>
        {# /Card #}
    </div>
    {# /Grid #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

    {% for message in app.session.flashBag.get('page_success') %}
    jQuery(document).ready(function(){
        const toast = swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        toast({
            type: 'success',
            title: 'Emotional Distress stage complete!',
        })
    });
    {% endfor %}

    </script>
{% endblock %}
