{% extends 'base.html.twig' %}

{% block title %}Home - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}

    {# Grid #}
    <div class="col-12">
        {# Page Header #}
        <div class="dt-page__header">
            <h1 class="dt-page__title">Dashboard</h1>
            <span>The BA Data Breach App</span>
        </div>
        {# /Page Header #}
    </div>
    {# /Grid #}


    {# Grid #}
    <div class="col-12">
        {# Card #}
        <div class="dt-card">

            {% if app.user.appStarted %}
                {# Card Header #}
                <div class="dt-card__header">
                    {# Card Heading #}
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Continue Your Application</h3>
                    </div>
                    {# /Card Heading #}
                </div>
                {# /Card Header #}
                {# Card Body #}
                <div class="dt-card__body">
                    Something in here about continuing with the process...
                </div>
                {# /Card Body #}
            {% else %}
                {# Card Header #}
                <div class="dt-card__header">
                    {# Card Heading #}
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Lets Get Started</h3>
                    </div>
                    {# /Card Heading #}
                </div>
                {# /Card Header #}
                {# Card Body #}
                <div class="dt-card__body">
                    <p>Please click on the button below to begin the process...</p>
                    <form id="start_form" method="post">
                        <div class="form-group">
                            <button id="start-form-button" type="submit" class="btn btn-outline-info btn-lg" title="continue to the next stage..."> Click To Start <i class="icon icon-forward"></i> </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
                {# /Card Body #}
            {% endif %}

        </div>
        {# /Card #}
    </div>
    {# /Grid #}

{% endblock %}
