{% extends 'base.html.twig' %}

{% block title %}Home - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}


    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-user bg-blue"></i>
                    <div class="d-inline">
                        <h5>Personal Details</h5>
                        <span>Please enter all details correctly...</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_dashboard') }}"><i class="ik ik-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Personal Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                {% if app.user.appStarted %}
                    <div class="card-header"><h3>Continue Your Application</h3></div>
                    <div class="card-body">
                        Something in here about continuing with the process
                    </div>
                {% else %}
                    <div class="card-header"><h3>Lets Get Started</h3></div>
                    <div class="card-body">
                        Something in here about starting the process
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}